<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio suscipit facere omnis, quasi ipsam
        atque iure eum error autem temporibus impedit nam natus illum quidem, nobis reiciendis fugit tenetur.</p>

     <button type="menu">click me</button>   
</body>

</html>