
.body{
  margin-left:20px ;
}

.chats{
    background-color: lightblue;
    margin: 2px;
    padding: 20px;
    border-radius:20px ;
    display: inline-block;
}

.mesg{
   color: black;
   padding: 20px;
   background-color: burlywood;
   border-radius: 20px;
}

.imp{

  text-align: center;
  display: flex;
  align-items: center;
}