<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h1>Edit Your Form</h1>
    <h3>post id : <%= post.id %></h3>
    <h3>username : <%= post.username %></h3>
    <form action="">
        <textarea name="edit" id=""><%= post.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>